html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

textarea, button, input, pre, button, i {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

textarea, button, input {
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

pre {
  margin: 0;
}

button {
  text-align: center;
  line-height: 1.2;
  user-select: none;
  cursor: pointer;
  border-radius: 2px;
}
