.MessageInput {
  display: flex;
  align-items: center;
  padding: 0px 6px;
  background: #505D70;
  height: 50px;
}

.MessageInput textarea {
  flex-grow: 1;
  font-size: 16px;
  margin-right: 30px;
  padding: 10px;
  overflow-y: hidden;
  min-height: 10px;
  border-radius: 2px;
}

.MessageInput button {
  color: #fff;
  background-color: #4d72a8;
  letter-spacing: .5px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 20px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.MessageInput button:hover {
  background-color: #466997;
}

.MessageInput textarea:focus,
.MessageInput textarea:active,
.MessageInput button:focus,
.MessageInput textarea:active {
  box-shadow: 0 0px 5px rgba(255,255,255,0.4);
}
