.Timeline {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.Timeline span {
  background: #E5EAEE;
  color: #455167;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}