.UserPage {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.UserPage form {
  width: 300px;
}

.UserPage .password {
  position: relative;
}

.UserPage .password i {
  position: absolute;
  bottom: 12px;
  right: -30px;
  cursor: pointer;
  color: #5c5c5c;
}

.UserPage .password i.active {
  color: #2a2a2a;
}


.UserPage .password i:hover {
  color: #2a2a2a;
}


.UserPage form .btnCancel {
  margin-right: 20px;
}
