.UserList {
  min-height: calc(100vh - 100px);
  max-width: 80%;
  margin: 0px auto;
  padding: 30px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.UserList .cards {
  justify-content: center;
}
