.MessageEditor {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.MessageEditor .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 40%;
  padding: 30px;
  background: #C6DAE7;
  border-radius: 10px;
}

.MessageEditor .form h4 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #4c4c4c;
}

.MessageEditor .form textarea {
  background: white;
  padding: 10px 15px;
  color: #455167;
  border-radius: 10px;
  position: relative;
  right: -7px;
  font-size: 16px;
  line-height: 1.4;
  margin-right: 15px;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 20px;
}

.MessageEditor .form textarea:focus,
.MessageEditor .form textarea:active {
  box-shadow: 0 0px 5px 2px rgba(4, 167, 243, 0.32);
}

.form .buttons {
  align-self: flex-end;
}

.form .buttons button {
  letter-spacing: .5px;
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.form .buttons .btnCancel {
  color: #4e4e4e;
  background: #fff;
  margin-right: 15px;
}

.form .buttons .btnEdit {
  color: #fff;
  background-color: #4d72a8;
}

.form .buttons .btnCancel:hover {
  background: #eee;
}

.form .buttons .btnEdit:hover {
  background-color: #466997;
}

.form .btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  font-weight: bold;
  background: none;
  color: #5a5a5a;
}

.form .btnClose:hover {
  color: #2a2a2a;
}
