.Header {
  display: flex;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  color: #455167;
  background: #E5EAEE;
  height: 50px;
}

.Header div {
  font-size: 28px;
  font-weight: 700;
  margin-right: 50px;
}

.Header a {
  font-size: 16px;
  padding: 0px 10px;
  color: #505D70;
}

.Header a:hover {
  background: #c6dae7;
  color: #505D70;
}

.Header .active {
  background: #c6dae7;
}

.Header a span {
  line-height: 50px;
}
