.ChatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #505d70;
  color: #c4d7ee;
  padding: 0 20px;
  height: 50px;
}

.ChatHeader span {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #c4d7ee;
  border-radius: 2px;
}

.ChatHeader span:last-of-type {
  margin-right: 0;
}
